{% extends 'base.html.twig' %}


{% block title %}Edit User{% endblock %}

{% block body %}
{% if app.user == user or is_granted('ROLE_ADMIN') %}
    <h1>Edition du profil</h1>
  {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% else %}
      <div class="alert alert-danger" role="alert">
  Vous ne pouvez pas accéder à cette page! 
</div>
 {% endif %}  
{% endblock %}