{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>
     {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

    {{ include('user/_form.html.twig') }}

   
{% endblock %}