<form action="/backend/admin/changeRole" method="post">

<select id="role_select" name ="role">
  <option value="Membre" selected>Membre</option> 
  <option value="Modérateur" >Modérateur</option>
  
</select>
<button type="submit">Valider</button>
</form>