{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<a href="{{path('admin_users')}}">Utilisateurs</a>

<a href="{{path('admin_questions')}}">Questions</a>

<a href="{{path('admin_answers')}}">Réponses</a>

<a href="{{path('admin_tags')}}">Tags</a>

{% endblock %}
