{% extends 'base.html.twig' %}

{% block body %}
<div class="cgu container">
    <h2>Charte</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi molestiae aliquid perferendis repellat in laborum quidem sapiente voluptatem consectetur sequi.

    </p>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum hic dolor consectetur praesentium assumenda molestiae autem pariatur cum animi. Quo, dolorem unde culpa voluptatem officiis nam tempora labore fugiat quaerat assumenda a molestias, minus similique eum quisquam totam dolores maxime natus voluptates fuga fugit! Molestiae esse similique necessitatibus velit fugiat alias. Porro, reprehenderit. Consequuntur minima ea tempore modi. Sed, quisquam!
    </p>


</div>










{% endblock %}