{% extends 'base.html.twig' %}

{% block title %}Nouvelle Question{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Question</h1>
    <div class="form-container">
    {{ include('question/_form.html.twig') }}
    </div>
   
{% endblock %}