body {
    font-family: 'Lato', sans-serif;
    background-color: #0ac3a7;
}

header {
    text-align: center;
    color: #fffdd8;
    background-color: #0bad93;
    padding-top: 1rem;
}
header h1 {
    font-weight: bold;
}

#bonjour {
    position: relative;
    top: 0.5rem;
    display: flex;
    height: fit-content;
}

#bonjour span {
    margin-left: 1rem;
    
    top: 0.25rem;
    position: relative;
    height: fit-content;
}
.wrapper {
    text-align: center;
    padding-top: 1rem;
}
.login h2 {
    text-align: center;
    margin: 1rem 0 2rem;
}

.visitor {
    padding-top: 0.3rem;
    height: fit-content;
    position: relative;
    top: 0.6rem;

}
.login label{
    margin-left: 2rem; 
}

header nav {
    justify-content: space-evenly;
    
}

header nav a {
    color: #fffdd8;
}



.questions{
    border: 2px solid olivedrab;
    background-color: #3d6a7b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.card {
    margin-top: 1rem;
}
.card button {
    margin-left: 1rem;
}

.login {

    padding-left: 2rem;
}

.answers-odd {
    background-color: #87ded0;
}

.answers-even {
    background-color: #5fa3cc;
}

.preferred {
    border: 3px solid rebeccapurple;
    background-color: #e4d393eb;
}

.answer-body {
    width: 25rem;
    height: 5rem;
}
/*.answer-submit {
    position: relative;
    top: 1.5rem;
}*/

footer {
    text-align: center;
}

form {
    display: inline-flex;
}